{% extends 'base.html.twig' %}

{% block body_id 'edit_product' %}

{% block main %}
    <h1>Edit: {{product.name}}#{{ product.id }}</h1>

    {{ include('table/_form.html.twig', {
        form: form,
        button_label: 'Save',
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}

    <div class="section">
        <a href="{{ path('product_show', {id: product.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> Show product
        </a>
    </div>

    <div class="section actions">
        {{ include('table/_delete_form.html.twig', {product: product}, with_context = false) }}
    </div>


    {{ parent() }}


{% endblock %}
